.App {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.App h1 {
  margin: 30px 0;
  color: #32b7f5;
}
.App footer {
  font-size: 16px;
  margin: 20px 0;
}

@media (max-width: 576px) {
  .App {
    width: 90%;
  }
  .App footer {
    font-size: 12px;
  }
}
