.Dictionary label {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.Dictionary input {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  color: #32b7f5;
}

.Dictionary section {
  border-radius: 10px;
  background: #e2f2ff;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .Dictionary label {
    font-size: 15px;
  }

  .Dictionary input {
    padding: 8px 5px;
  }

  .Dictionary section {
    padding: 30px 20px;
  }
}
